/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
html { 
  height: 100%; 
}
body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif
}
h3 {
  text-align: center;
  margin: 25px 0 8px 0;
}
#map-canvas {
  height: 100%; 
}
#panel {
  float:left; 
  height: 100%; 
  width: 300px; 
  padding: 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
#panel .input_label {
  line-height: 26px;
}
.container {
  margin: 5px 0;
  background: #efefef;
  line-height: 25px;
  padding: 5px;
}
input[type="text"] {
  width: 230px;
}
button {
  background: #ECECEC;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid #a7a7a7;
  margin: 0px auto;
  box-shadow: 0px 2px 1px white inset;
}
.predictions span:first-child {
  font-weight: bold;
}
.predictions span {
  margin-right: 8px;
}

.container .routeTitle {
  font-size: 19px;
  line-height: 30px;
}
