<div id="panel">
  <h3>Departure Times near you</h3>

  <div>
    <label for="address" class="input_label">Enter your geocode or address: </label><input id="address" type="text" value=""/>
    <button id="submit_location">Go</button>
  </div>
  <div id="dt-content">Loading...</div>
</div>
<div id="map-canvas"></div>

<!-- example data
{
    "agencyTitle": "AC Transit",
    "agencyTag": "actransit",
    "routeTitle": "12",
    "routeTag": "12",
    "stop_id": "57111",
    "stopTitle": "Broadway & Thomas L Berkley Way (19th St B",
    "directionTitle": "To Berkeley BART",
    "prediction": [1409890652, 1409892452, 1409894252]
},
-->
<script type="text/template" id='departure_cell'>
  <div class="cell_wrapper">
    <div class="container">
      <img class="icon-num" src="http://maps.google.com/mapfiles/kml/paddle/{%=route.iconNum%}-lv.png" /> <span class="routeTitle">{%= route.routeTitle %}</span> <br />
      <span class="stopTitle">{%= route.stopTitle %} </span><br />
      <span class="dirTitle">{%= route.directionTitle %}</span><br />
      <span class="stopId">Stop ID: {%= route.stop_id %}</span> 
      <div class="predictions">
        {% _.each(route.prediction, function (el) { %}
          <span>{%=el ? el : ''%}</span>
        {% }) %}
        
      </div>
    </div>
    
  </div>
</script>