<!DOCTYPE html>
<html>
<head>
  <title>DepartureTimes</title>
  <%= stylesheet_link_tag "application" %>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
